/* Sélectionne tous les éléments de la table */
table {
    font-size: 18px; /* Ajuste la taille de la police */
    border-collapse: collapse; /* Fusionne les bordures des cellules */
  }
  
  
  /* Sélectionne toutes les cellules */
  td, th {
    padding: 10px; /* Ajoute de l'espace autour du contenu des cellules */
    border: 1px solid black; /* Ajoute une bordure aux cellules */
  }
  
  /* Sélectionne les cellules de la première ligne et de la première colonne */
  th:first-child,
  td:first-child {
    font-weight: bold; /* Met en gras le texte des cellules de la première colonne */
    background-color: rgb rgb(49, 212, 217); /* Change la couleur de fond des cellules de la première colonne */
  }
  